@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url(/assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
    font-family: 'JetBrains Mono', monospace;
    max-width: 50em;
    margin: auto;
}